<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Highcharts Example</title>

  <style type="text/css">
    #container {
      min-width: 300px;
      max-width: 100%;
      height: 95%;
      margin: 1em auto;
    }
  </style>
</head>
<body>
<script src="../js/highcharts.js"></script>
<script src="../js/variable-pie.js"></script>
<script type="text/javascript" src="../js/jquery-1.9.1.js"></script>
<script src="../js/themes/gray.js"></script>
<script src="http://echarts.baidu.com/build/dist/echarts.js" type="text/javascript" ></script>
<SCRIPT type="text/javascript" src="https://img.highcharts.com.cn/highcharts/modules/data.js"></SCRIPT>
<p style="display: none" id="p"></p>
<div id="container" ></div>

<script type="text/javascript">


  var sir=new Array();
  jQuery.ajax({
    url: "http://localhost:8080/countRent/countPriceAndNum",
    type: "get",
    async:false,
    dataType:'json',
    crossDomain:true,
    xhrFields:{withCredentials:true},
    success: function (data) {
      sir=data
      console.log(data)
      $('#p').html(data)
    }
  });
  console.log($('#p').html())

  var asda= Highcharts.chart('container', {
    chart: {
      type: 'pie'
    },
    title: {
      text: '统计每台汽车的出租情况'
    },
    tooltip: {
      headerFormat: '',
      pointFormat: '<span style="color:{point.color}">\u25CF</span> <b> {point.name}</b><br/>' +
        '被租了: <b>{point.y}次</b><br/>' +
        '总计获得了: <b>{point.z}租金</b><br/>'
    },
    series: [{minPointSize:20,
      innerSize: '0%',
      zMin: 0,
      name: 'countries',
      data: []
    }]
  });
  asda.series[0].update({
  data:sir
})
</script>

</body>

</html>
