<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <meta charset="UTF-8">

  <title>My JSP 'updateUser.jsp' starting page</title>

  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="cache-control" content="no-cache">
  <meta http-equiv="expires" content="0">
  <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
  <meta http-equiv="description" content="This is my page">
  <link href="../images/skin.css" rel="stylesheet" type="text/css" />

  <style type="text/css">
    body {
      margin-left: 0px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      background-color: #EEF2FB;
    }
  </style>

</head>

<body>
<form action="" id="form1" method="post">
  <input type="hidden" name="method" value="updateUser" id="method"/>
  <input type="hidden" name="userPwd" value="${requestScope.obj.userpwd }"/>
  <table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="17" valign="top" background="../images/mail_leftbg.gif"><img src="../images/left-top-right.gif" width="17" height="29" /></td>
      <td valign="top" background="../images/content-bg.gif"><table width="100%" height="31" border="0" cellpadding="0" cellspacing="0" class="left_topbg" id="table2">
        <tr>
          <td height="31"><div class="titlebt">更新用户</div></td>
        </tr>
      </table></td>
      <td width="16" valign="top" background="../images/mail_rightbg.gif"><img src="../images/nav-right-bg.gif" width="16" height="29" /></td>
    </tr>
    <tr>
      <td valign="middle" background="../images/mail_leftbg.gif">&nbsp;</td>
      <td valign="top" bgcolor="#F7F8F9"><table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td colspan="2" valign="top">&nbsp;</td>
          <td>&nbsp;</td>
          <td valign="top">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="2" valign="top"><span class="left_bt">
     	<table width="100%" border="0" cellpadding="0" cellspacing="0">
     		 <tr>
      <td width="14%"><div align="center" class="left_txt">登录名</div></td>
      <td width="23%"><input type="text" readonly name="username" id="userName" value="" readonly="readonly"></td>
      <td width="15%"><div align="center"  class="left_txt">身份证</div></td>
      <td width="48%"><input type="text" readonly name="identity" id="identity"  value="">*</td>
    </tr>
    <tr>
       <td><div align="center" class="left_txt">联系电话</div></td>
      <td><input type="text" name="phone" id="phone" value="">*</td>
         <td><div align="center" class="left_txt">姓名</div></td>
      <td><input type="text" id="fullName" name="fullname" value="">*</td>
    </tr>
    <tr>
      <td><div align="center" class="left_txt">地址</div></td>
      <td><input type="text" name="address" id="address" value="">*</td>
     <td><div align="center" class="left_txt">性别</div></td>
      <td>
     <select NAME="sex" id="sex" style="width: 105px;">

		</select>

      </td>

    </tr>
    <tr>
      <td><div align="center" class="left_txt">职位 </div></td>
      <td><input type="text" name="position" id="position" value="">*</td>
      <td><div align="center" class="left_txt">用户类型</div></td>
      <td><label>
         <select name="userLevel" id="userLevel">

        </select>
      </label></td>
    </tr>
    <tr>


    </tr>
     	</table>
    <table align="left" width="100%">
	<tr>
		<td height="107">
		<div align="center">
		<img  src="../images/carimg/ok.gif" onclick="subForm()" style="cursor: hand;">
		 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		  <img  src="../images/carimg/changepw.gif" onclick="changeUserPwd()" style="cursor: hand;">
		</div>
	  </td>
	</tr>
	<tr>
		<td height="30" background="../images/tab/bg.gif"></td>
	</tr>
</table>
</span>
          </td>
        </tr>

        <tr>

          <td valign="top"><table width="100%" height="144" border="0" cellpadding="0" cellspacing="0" class="line_table">
          </table></td>
        </tr>
      </table></td>
      <td background="../images/mail_rightbg.gif">&nbsp;</td>
    </tr>
    <tr>
      <td valign="bottom" background="../images/mail_leftbg.gif"><img src="../images/buttom_left2.gif" width="17" height="17" /></td>
      <td background="../images/buttom_bgs.gif"><img src="../images/buttom_bgs.gif" width="17" height="17"></td>
      <td valign="bottom" background="../images/mail_rightbg.gif"><img src="../images/buttom_right2.gif" width="16" height="17" /></td>
    </tr>
  </table>
</form>
</body>
<script src="../js/jquery-1.9.1.js"></script>
<script type="text/javascript">
    var loginUser=''
    $.ajax({
        type:"get",
        url:"http://localhost:8080/user/getUserlogin",
        dataType:"json",
        crossDomain:true,
        async: false,
        xhrFields:{withCredentials:true},
        success:function (result) {
            loginUser= result.user.username
        }
    })
    $.ajax({
        url:"http://localhost:8080/user/updateget",
        dataType:"json",
        type:"post",
        crossDomain:true,
        xhrFields:{withCredentials:true},
        success:function (data) {
            console.log(data)

            if(loginUser==data.obj.username){
                $('#userLevel').attr("disabled","disabled")
            }
            $('#userName').val(data.obj.username)

            $('#identity').val(data.obj.identity)
            $('#phone').val(data.obj.phone)

            $('#fullName').val(data.obj.fullname)
            $('#address').val(data.obj.address)
            $('#position').val(data.obj.position)
            var str=''
            if(data.obj.sex=='男'){
                str+='<option value="男" selected="selected">男</option>\n' +
                    '                <option value="女">女</option>'
            }else{
                str+=' <option value="男" >男</option>\n' +
                    ' <option value="女" selected="selected">女</option>'
            }
            $("#sex").html(str)

            var str2=''
            $.each(data.roles, function(i, r) {

                if(data.obj.roles.roleid==r.roleid){
                    str2+='<option  value="'+r.roleid+'" selected>'+r.rolename+'</option>'
                }else{
                    str2+='<option  value="'+r.roleid+'">'+r.rolename+'</option>'
                }
            })
            $('#userLevel').html(str2)
        }
    })
    function subForm(){
        if(confirm('确定要修改信息吗？')) {


            if ($('#phone').val().length == 0 || $('#fullName').val().length == 0 || $('#address').val().length == 0
                || $('#position').val().length == 0) {
                alert('请把信息填写完整！')
                return
            }

            $.ajax({
                url: "http://localhost:8080/user/updateUser",
                data: $('#form1').serializeArray(),
                type: "POST",
                crossDomain: true,
                xhrFields: {withCredentials: true},
                success: function (data) {
                    location.href = "viewUser.html"
                }
            });
        }
    }
    function changeUserPwd(){
        //document.getElementById('method').value="preChangePwd";
        //document.forms[0].submit();
        var username =$("#userName").val();
        $.ajax({
            url: "http://localhost:8080/user/preUpdatePwd",
            data:{username:username},
            type: "POST",
            crossDomain: true,
            xhrFields: {withCredentials: true},
            success: function (data) {
                location.href = "changeUserPwd.html"
            }
        });
    }
</script>
</html>
