<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>租车统计</title>

  <style type="text/css">
    #container {
      min-width: 300px;
      max-width: 100%;
      height: 95%;
      margin: 1em auto;
    }
  </style>
</head>
<body>
<script src="../js/highcharts.js"></script>
<script src="../js/variable-pie.js"></script>
<script src="../js/jquery-1.9.1.js"></script>
<script src="../js/themes/gray.js"></script>
<script src="http://echarts.baidu.com/build/dist/echarts.js" type="text/javascript" ></script>
<SCRIPT type="text/javascript" src="https://img.highcharts.com.cn/highcharts/modules/data.js"></SCRIPT>
<script src="../js/module/exporting.js"></script>
<script src="../js/module/series-label.js"></script>

<div id="container"></div>



<script type="text/javascript">
  var d=new Array()
  jQuery.ajax({
    url: "http://localhost:8080/statistics/getMonthAmount",
    type: "get",
    async:false,
    dataType:'json',
    crossDomain:true,
    xhrFields:{withCredentials:true},
    success: function (data) {
      console.log(data)
      d=data
    }
  });


 var hig= Highcharts.chart('container', {

    title : {
      text : '2019 年 各 月 份 汽 车 租 赁 情 况'
    },

    subtitle : {
      text : '欧里给'
    },

    yAxis : {
      title : {
        text : '租   借   次   数'
      }
    },
    legend : {
      layout : 'vertical',
      align : 'right',
      verticalAlign : 'middle'
    },

    plotOptions : {
      series : {
        label : {
          connectorAllowed : false
        },
        pointStart : 01
      }
    },

    series : d,

    responsive : {
      rules : [ {
        condition : {
          maxWidth : 500
        },
        chartOptions : {
          legend : {
            layout : 'horizontal',
            align : 'center',
            verticalAlign : 'bottom'
          }
        }
      } ]
    }

  });

  hig.series[0].update({

  })
</script>
</body>
</html>
