<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="cn.accp.pigcar.dao.CountRentDao">
  	<resultMap type="cn.accp.pigcar.pojo.Renttable" id="countBeanMap" extends="cn.accp.pigcar.dao.RentalTableDao.renttableMap">
  		<result column="carrentcount" property="carrentcount"/>
  		<result column="countprice" property="countPrice"/>
  		<association property="cars" javaType="cn.accp.pigcar.pojo.Cars"
  			select="cn.accp.pigcar.dao.CarDao.getOneCar"
  			column="carid"
  		></association>
  	</resultMap>
  <!-- 统计每辆汽车的出租费用 -->
  	<select id="countAllShouldPayPrice" resultMap="countBeanMap">
  		select sum(t.shouldpayprice) as countprice,t.carid from renttable t
		group by t.carid
  	</select>

  	<!-- 统计每辆车被租的次数 -->
  	<select id="countRentCarCount" resultMap="countBeanMap">
  		select count(t.carid) as carrentcount,t.carid from renttable t
		group by t.carid
  	</select>
  </mapper>