<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="cn.accp.pigcar.dao.LoginLogDao">
  <!-- 多条件查询 -->
  	<select id="findAllLoginInfoByIf" resultType="cn.accp.pigcar.pojo.Loginlogs">
  		select * from loginlogs
  		<where>
  			<if test="loginname != null and loginname != ''">
  				loginname=#{loginname}
  			</if>
  			
  			<if test="loginip != null and loginip != ''">
  				and loginip=#{loginip}
  			</if>
  			
  			<if test="logintime != null and logintime != ''">
  				and logintime=#{logintime}
  			</if>
  			
  		</where>
  	</select>
  
  	<!-- 分页查询全部登录日志信息 -->
  	<select id="selectAllLoginInfoByPage" resultType="cn.accp.pigcar.pojo.Loginlogs">
  		select *
		from (select rownum rn,r.* from loginlogs r where rownum&lt;#{end}+1) ua
		<where>
			ua.rn&gt;=#{start}+1
  			<if test="loginname != null and loginname != ''">
  				and loginname=#{loginname}
  			</if>
  			
  			<if test="loginip != null and loginip != ''">
  				and loginip=#{loginip}
  			</if>
  			
  			<if test="logintime != null and logintime != ''">
  				and logintime=#{logintime}
  			</if>
  			
  		</where>
  	</select>
  </mapper>