<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <meta charset="UTF-8">

  <title></title>

  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="cache-control" content="no-cache">
  <meta http-equiv="expires" content="0">
  <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
  <meta http-equiv="description" content="This is my page">
  <link href="../images/skin.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="../My97DatePicker/WdatePicker.js"></script>

  <style type="text/css">
    body {
      margin-left: 0px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      background-color: #EEF2FB;
    }
  </style>

</head>

<body>
<form action="#" method="post">
  <h5><font color="red"> </font></h5>
  <input type="hidden" name="method" value="updateRentTable"/>
  <input type="hidden" name="tableid" value="${requestScope.rent.tableid }"/>
  <table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="17" valign="top" background="../images/mail_leftbg.gif"><img src="../images/left-top-right.gif" width="17" height="29" /></td>
      <td valign="top" background="../images/content-bg.gif"><table width="100%" height="31" border="0" cellpadding="0" cellspacing="0" class="left_topbg" id="table2">
        <tr>
          <td height="31"><div class="titlebt">修改出租单</div></td>
        </tr>
      </table></td>
      <td width="16" valign="top" background="../images/mail_rightbg.gif"><img src="../images/nav-right-bg.gif" width="16" height="29" /></td>
    </tr>
    <tr>
      <td valign="middle" background="../images/mail_leftbg.gif">&nbsp;</td>
      <td valign="top" bgcolor="#F7F8F9"><table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td colspan="2" valign="top">&nbsp;</td>
          <td>&nbsp;</td>
          <td valign="top">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="2" valign="top"><span class="left_bt">
	<table class="maintable" width="100%" border="0" cellspacing="0">
	<tr>
		<td width="12%" height="27">
	    <div align="center" class="left_txt">出租单编号：</div></td>
		<td width="13%" class="left_txt" id="tableid"></td>
		<td width="14%">&nbsp;</td>
		<td width="14%">&nbsp;</td>
		<td width="20%">
		  <div align="center" class="left_txt">预付金：</div></td>
		<td width="27%" class="left_txt" id="imprest"></td>
	</tr>
	<tr>
		<td width="12%" height="27">
	    <div align="center" class="left_txt">应付金：</div></td>
		<td width="13%" class="left_txt" id="shouldpayprice"></td>
		<td width="14%">&nbsp;</td>
		<td width="14%">&nbsp;</td>
		<td width="20%">
		  <div align="center" class="left_txt">实际交付金额：</div></td>
		<td width="27%" class="left_txt"><input type="text" name="price" id="price" value=""></td>
	</tr>
	<tr>
		<td width="12%" height="27">
	    <div align="center" class="left_txt">起租日期：</div>		</td>
		<td width="13%" class="left_txt"><input class="Wdate" type="text" name="begindate" id="beginDate" onFocus="WdatePicker({isShowClear:false,readOnly:true})" value=""/></td>

		<td width="14%">&nbsp;</td>
		<td width="14%">&nbsp;</td>
		<td width="20%">
		  <div align="center" class="left_txt">应归还日期：</div></td>
		<td width="27%" class="left_txt"><input class="Wdate" type="text" name="shouldreturndate" id="shouldReturnDate" onFocus="WdatePicker({isShowClear:false,readOnly:true})" value=""/></td>
	</tr>
	<tr>
		<td width="12%" height="27">
	    <div align="center" class="left_txt">归还日期：</div>		</td>
		<td width="13%" class="left_txt"><input class="Wdate" type="text" name="returndate" id="returnDate" onFocus="WdatePicker({isShowClear:false,readOnly:true})" value=""/></td>
		<td width="14%">&nbsp;</td>
		<td width="14%">&nbsp;</td>
		<td width="20%">
		  <div align="center" class="left_txt">出租单状态：</div></td>
		<td width="27%">
		<select name="rentflag" id="rentflag">

		</select>
		</td>
	</tr>
	<tr>
		<td width="12%" height="27">
	    <div align="center" class="left_txt">服务人员编号</div>		</td>
		<td width="13%" class="left_txt" id="username"></td>
	</tr>
	<tr>
		<td colspan="6" align="center" id="cz">

		</td>
	</tr>
	<tr>
      <td colspan="6"><hr color="#99CCFF">      </td>
    </tr>
	<tr align="center" bgcolor="#EEF2FB">
		<td height="19" colspan="6" class="titleLine" bgcolor="#EEF2FB">
		<div align="left">
		  <p>&nbsp;</p>
		  <p>&nbsp;</p>
		</div>		</td>
	</tr>
	<tr>
      <td colspan="6"><hr color="#99CCFF">      </td>
    </tr>
	<tr>
      <td height="23" colspan="6"><div align="center" class="left_txt">客户信息</div></td>
    </tr>
	<tr>
      <td colspan="6"><hr color="#99CCFF">      </td>
    </tr>
	<tr>
      <td><div align="center" class="left_txt">身份证：</div></td>
	  <td><div align="center" class="left_txt"><font color="red" id="custidentity"></font></div></td>
	  <td><div align="center" class="left_txt">姓名：</div></td>
	  <td><div align="center" class="left_txt"><font color="red"id="custname"></font></div></td>
	  <td><div align="center" class="left_txt">性别：</div></td>
	  <td><div align="center" class="left_txt"><font color="red" id="custsex"></font></div></td>
    </tr>
	<tr>
      <td colspan="6"><hr color="#99CCFF">      </td>
    </tr>
	<tr>
      <td><div align="center" class="left_txt">地址：</div></td>
	  <td><div align="center" class="left_txt"><font color="red" id="custaddress"></font></div></td>
	  <td><div align="center" class="left_txt">电话：</div></td>
	  <td><div align="center" class="left_txt"><font color="red" id="custphone"></font></div></td>
	  <td><div align="center" class="left_txt">职业：</div></td>
	  <td><div align="center" class="left_txt"><font color="red" id="custcareer"></font></div></td>
    </tr>
	<tr>
      <td colspan="6"><hr color="#99CCFF">      </td>
    </tr>
     <tr align="center" bgcolor="#EEF2FB">
		<td height="19" colspan="6" class="titleLine" bgcolor="#EEF2FB">
		<div align="left">
		  <p>&nbsp;</p>
		  <p>&nbsp;</p>
		</div>		</td>
	</tr>
	<tr>
      <td colspan="6"><hr color="#99CCFF">      </td>
    </tr>
	<tr>
     <td height="23" colspan="6"><div align="center" class="left_txt">车信息</div></td>

    </tr>
    <tr>
      <td colspan="6"><hr color="#99CCFF">      </td>
    </tr>
    <tr>
      <td><div align="center" class="left_txt">车号：</div></td>
	  <td><div align="center" class="left_txt"><font color="red" id="carnumber"></font></div></td>
	  <td><div align="center" class="left_txt">型号：</div></td>
	  <td><div align="center" class="left_txt"><font color="red" id="cartype"></font></div></td>
	  <td><div align="center" class="left_txt">颜色：</div></td>
	  <td><div align="center" class="left_txt"><font color="red" id="carcolor"></font></div></td>
    </tr>
    <tr>
      <td colspan="6"><hr color="#99CCFF">      </td>
    </tr>
    <tr>
      <td><div align="center" class="left_txt">价值：</div></td>
	  <td><div align="center" class="left_txt"> <font color="red" id="carprice"></font></div></td>
	  <td><div align="center" class="left_txt">租金：</div></td>
	  <td><div align="center" class="left_txt"> <font color="red"id="carrentprice" ></font></div></td>
	  <td><div align="center" class="left_txt">押金：</div></td>
	  <td><br><div align="center" class="left_txt"><font color="red" id="cardeposit"></font></div><br></td>
    </tr>
    <tr>
      <td colspan="6"><hr color="#99CCFF">      </td>
    </tr>
    <tr>
      <td><div align="center" class="left_txt">租用情况：</div></td>
	  <td><div align="center" class="left_txt"><font color="red" id="carisRenting">

	  </font>
	  </div></td>
	  <td><div align="center" class="left_txt">简介：</div></td>
	  <td><div align="center" class="left_txt"><font color="red" id="cardesc"></font></div></td>

    </tr>
    <tr>
		<td colspan="6">
		<hr color="#99CCFF"></td>
	</tr>
</table>
</body>
<script src="../js/jquery-1.9.1.js"></script>
<script type="text/javascript">
	$.ajax({
		url: "http://localhost:8080/rentTable/getpreUpdate",
		type: "POST",
		crossDomain:true,
		xhrFields:{withCredentials:true},
		success: function (data) {
			console.log(data)
			$('#tableid').html(data.tableid)
			$('#imprest').html(data.imprest)
			$('#shouldpayprice').html(data.shouldpayprice)
			$('#price').val(data.price)
			$('#beginDate').val(data.begindate)
			$('#shouldReturnDate').val(data.shouldreturndate)
			$('#returnDate').val(data.returndate)


			var option='';
			if(data.rentflag==0){
				option+='<option value="1" class="left_txt">已入库/已生成检查单</option>\n' +
						'<option value="0" selected class="left_txt">出租中</option>'
			}else{
				option+='<option value="1" selected class="left_txt">已入库/已生成检查单</option>\n' +
						'<option value="0" class="left_txt">出租中</option>'
			}
			$('#rentflag').html(option)
			$('#username').html(data.users.identity)
			$('#custidentity').html(data.customers.identity)
			$('#custname').html(data.customers.custname)
			$('#custsex').html(data.customers.sex)
			$('#custaddress').html(data.customers.address)
			$('#custphone').html(data.customers.phone)
			$('#custcareer').html(data.customers.career)
			$('#carnumber').html(data.cars.carNumber)
			$('#cartype').html(data.cars.carType)
			$('#carcolor').html(data.cars.color)
			$('#carprice').html(data.cars.price)
			$('#carrentprice').html(data.cars.rentPrice)
			$('#cardeposit').html(data.cars.deposit)
			$('#carisRenting').html(data.cars.isRenting==1?'已出租':'未出租')
			$('#cardesc').html(data.cars.carDesc)

			var cz='';
			if(data.rentflag!=1){
				cz+='<img  src="../images/carimg/ok.gif" onclick="subForm()">\n' +
						'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'

			}
			cz+='<img  src="../images/carimg/return.gif" onclick="history.back()">';
			$('#cz').html(cz)

		}
	});
	function subForm(){

		if($('#rentflag').val()==1&&$('#returnDate').val().length==0){
			alert('请填写归还日期')
			$('#returnDate').select();
			return;
		}
		$.ajax({
			url: "http://localhost:8080/rentTable/updateRentTable",
			type: "POST",
			data:{'tableid':$('#tableid').html(),'price':$('#price').val(),'carnumber':$('#carnumber').html(),'begindate':$('#beginDate').val(),'shouldreturndate':	$('#shouldReturnDate').val(),'returndate':$('#returnDate').val(),'rentflag':	$('#rentflag').val()},
			crossDomain:true,
			xhrFields:{withCredentials:true},
			success: function (data) {
				console.log(data)
				if(data){
					alert('修改出租单成功')
					location.href='rentManager.html';
				}
			}


		})
	}
</script>
</html>
